/* CSS Document */
body{ font-family:"ו"; font-size:12px; line-height:16px;}
*{ margin:0; padding:0;}

a{ color:#000; text-decoration:none;}
a:hover{ color:#fff; text-decoration:underline;}

#header{ border-bottom:#dce6ec 4px solid; height:106px;}
#header .logo{ float:left; padding: 29px 0 0 20px;}
#header .ty{ float:left; width:500px; padding:18px 0 0 20px; line-height:18px; font-size:14px;}
#header .ty a{ color:#004c7d; margin:0 4px;}
#header .ty a:hover{ color:#d00;}
#header .yh{ float:right;font-size:13px;padding:5px 20px 5px 0; text-align:right; width:100%; background:#7ac8e8;}